<div class="card">
  <div class="card-body">  
    <div id="<%= dom_id user %>">
      <p>
        <strong>Avatar:</strong>
        <%= user.avatar %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= user.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= user.last_name %>
      </p>

      <p>
        <strong>Occupation:</strong>
        <%= user.occupation %>
      </p>

      <p>
        <strong>Age:</strong>
        <%= user.age %>
      </p>

    </div>
</div>
</div>