<div class="card">
  <div class="card-body">
<div id="<%= dom_id cart %>">
  <p>
    <strong>Uuid:</strong>
    <%= cart.uuid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= cart.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= cart.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= cart.address %>
  </p>

  <p>
    <strong>Scheduled at:</strong>
    <%= cart.scheduled_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cart.status %>
  </p>

</div>
</div>
</div>
