<%= turbo_frame_tag dom_id(product) do %>
<div class="card mb-3">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= product.description %>
    </p>

    <p>
      <strong>Size:</strong>
      <%= product.size %>
    </p>

    <p>
      <strong>Photo:</strong>
      <%= product.photo %>
    </p>

    <p>
      <strong>Is Active:</strong>
      <%= product.is_active? ? 'Yes' : 'No' %>
    </p>

    <p>
      <%= link_to "Show this product", product, data: { turbo_frame: "_top" } %>
    </p>
  </div>
</div>
<% end %>